@model Lumin.Models.Perfil

<h1>Editar Perfil</h1>

<form method="post">
    <label>Nome</label><br />
    <input type="text" name="Nome" value="@Model.Nome" /><br /><br />

    <label>Bio</label><br />
    <textarea name="Bio">@Model.Bio</textarea><br /><br />

    <button type="submit">Salvar</button>
</form>
