@model Lumin.Models.Perfil

<h1>Meu Perfil</h1>

<img src="@Model.Avatar" width="120" />

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Bio:</strong> @Model.Bio</p>

<a href="/Perfil/Editar">Editar Perfil</a>
