@{
}

<div class="p-5">

    <!-- Linha com Nome e Nome de usuário -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="nome" class="form-control" />
                <label class="form-label" for="nome">Nome</label>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="usuario" class="form-control" />
                <label class="form-label" for="usuario">Nome de usuário</label>
            </div>
        </div>
    </div>

    <!-- Email -->
    <div class="form-outline mb-4" data-mdb-input-init>
        <input type="email" id="email" class="form-control" />
        <label class="form-label" for="email">E-mail</label>
    </div>

    <!-- Senha -->
    <div class="form-outline mb-4" data-mdb-input-init>
        <input type="password" id="senha" class="form-control" />
        <label class="form-label" for="senha">Senha</label>
    </div>

    <!-- Termos -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" id="termos" checked />
        <label class="form-check-label" for="termos">
            Termos e condições
        </label>
    </div>

    <!-- Botão Registrar -->
    <button type="submit" class="btn btn-primary btn-block mb-4 w-100" data-mdb-button-init data-mdb-ripple-init>
        Registrar
    </button>

</div>