@{
    ViewData[index: "Bem vindo"] = "Tela inicial";
}

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-8"> 
                <div class="card shadow" style="border-radius: 20px;">
                    <div class="card-body p-5 text-center">
                        <h1 class="display-3 fw-bold mb-4" style="color:#4a4a4a;">
                            LUMIN
                        </h1>

                        <p class="lead mb-4" style="font-size:1.25rem;">
                            A nova rede social que ilumina suas conexões.  
                            Compartilhe momentos, descubra novas pessoas e brilhe junto com a comunidade.
                        </p>

                        <a href="cadastrar" class="btn btn-outline-secondary btn-lg mt-2 px-5 ms-2">
                            Entrar
                        </a>

                        <a href="Login" class="btn btn-primary btn-lg mt-2 px-5">
                            Criar Conta
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
