@{
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<section class="hero-1 d-flex align-items-center justify-content-center text-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h1 class="display-3 fw-bold mb-4" style="color: #a1c4fd;">LUMIN</h1>
                    <p class="lead mb-5">Uma forma de pensar que clareia as ideias, abraça as diferenças e transforma 
                    cada pensamento em luz para quem precisa de um espaço mais leve.</p>

                    <div class="d-flex gap-3 justify-content-center">

                    <button class="btn btn-primary btn-lg">
                    <i href="Login" class="fas fa-rocket me-2"></i>
                    Entrar
                    </button>

                    <button class="btn btn-outline-light btn-lg">
                    <i href="Cadastrar" class="fas fa-rocket me-2"></i>
                        Criar Conta
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>