<section class="h-100 h-custom bg-gradient-lumin">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-8">
                <div class="card shadow" style="border-radius: 20px;">
                    <div class="card-body p-5 text-center">

                        <h1 class="display-3 fw-bold mb-4" style="color: #a1c4fd;">
                            LUMIN
                        </h1>

                        <p class="lead mb-4">
                            Uma forma de pensar que clareia as ideias, abraça as diferenças e transforma 
                            cada pensamento em luz para quem precisa de um espaço mais leve.
                        </p>

                        <a href="Login" class="btn btn-outline-secondary btn-lg mt-2 px-5 ms-2">
                            Entrar
                        </a>

                        <a href="Cadastrar" class="btn btn-primary btn-lg mt-2 px-5">
                            Criar Conta
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
