@{}

<form method="POST" asp-action="LoginUsuario" asp-controller="Login">
    <div class="row-L">
      <div class="col-md-6 mb-4">
        <div data-mdb-input-init class="form-outline"> <input type="text" id="form3Example1" class="form-control" />
          <label class="form-label" for="form3Example1">Nome</label> </div>
      </div>
      <div class="col-md-6 mb-4">
        <div data-mdb-input-init class="form-outline"> <input type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">Nome de usuario</label> </div>
      </div>
    </div> <!-- Email input -->
    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline"> <input type="mail" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">E-mail</label>
        </div>
    </div> <!-- Password input -->
    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline"> <input type="password" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Senha</label> </div>
    </div> <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4 "> <input class="form-check-input me-2" type="checkbox"
        value="" id="form2Example33" checked /> <label class="form-check-label" for="form2Example33"> Termos e condições
      </label> </div> <!-- Submit button --> <button type="submit" data-mdb-button-init data-mdb-ripple-init
      class="btn btn-primary btn-block mb-4"> Registrar </button>
  </form>
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </thead>
    <tbody> @foreach(Usuario usuario in ViewBag.ListaUsuario) {
    <tr>
        <td>@usuario.Id</td>
        <td>@usuario.Nome</td>
        <td>@usuario.Email</td>
      </tr>
        }
 </tbody>
  </table> <!-- Register buttons ->}