@page

<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h1 class="fw-normal mb-5 , julios"   style="color: #a1c4fd;">Bem vindo a lumin!!</h1>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">


                    </div>
                  </div>

         
              </div>   
            </div>
            
<div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5"></h3>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">E-mail</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                      <input type="text" id="form3Examplea3" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea3">Senha</label>
                    </div>
                  </div>



                    <button type="button" class="btn btn-primary">Entrar</button>   <button type="button" class="btn btn-light">Registrar</button>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">





          </div>
        </div>
    </div>
</section>