@{
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}
@model List<Lumin.Models.Postagem>

<style>
    body {
        background: #f4f4f9;
        font-family: Arial, sans-serif;
    }

    .friend-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .friend-item img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .card {
        border-radius: 10px;
    } 

</style>

<div class="container mt-4">
    <div class="row">

        <!-- COLUNA ESQUERDA -->
        <div class="col-12 col-lg-4 col-xl-3">

            <!-- PERFIL -->
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" 
                         class="img-fluid rounded-circle mb-2" width="128" />

                    <h4 class="mb-0">Kathy Davis</h4>
                    <div class="text-muted mb-2">Front-end Developer</div>

                    <button class="btn btn-primary btn-sm">Editar perfil</button>

                </div>
            </div>





            <!-- AMIGOS -->
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title mb-3">Amigos</h4>

                    <div class="friend-item">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" />
                        <div>
                            <h5 class="m-0">Carlos</h5>
                            <button class="btn btn-primary btn-sm mt-1">Message</button>
                        </div>
                    </div>

                    <div class="friend-item">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" />
                        <div>
                            <h5 class="m-0">Rogerio</h5>
                            <button class="btn btn-primary btn-sm mt-1">Message</button>
                        </div>
                    </div>

                    <div class="friend-item">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                        <div>
                            <h5 class="m-0">Cleiton</h5>
                            <button class="btn btn-primary btn-sm mt-1">Message</button>
                        </div>
                    </div>

                </div>
            </div>



            <!-- ABOUT -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Solicitações</h5>
                </div>
                <div class="card-body">
                    <div class="friend-item">
                        <img src="http://bootdey.com/img/Content/avatar/avatar1.png" />
                        <div>
                            <h5 class="m-0">Marcelo</h5>
                            <button class="btn btn-primary btn-sm mt-1">Aceitar</button> <button class="btn btn-danger btn-sm mt-1">Recusar</button>
                        </div>
                    </div>
                    <p><b></b> </p>
                    <p><b></b> </p>
                </div>
            </div>

        </div>

        <!-- COLUNA DO MEIO - FEED -->
         <div class="col-12 col-lg-8 col-xl-6"> 

            <!-- Criar postagem -->
            <div class="card p-3 mb-4 shadow-sm">
                <form method="post" action="/Feed/Create">
                    <textarea name="Descricao" class="form-control" rows="3" placeholder="Escreva algo..."></textarea>

                    <button type="submit" class="btn btn-primary mt-2">Postar</button>
                </form>
            </div>

            <h3 class="mb-3 text-center">Postagens recentes</h3>


            @foreach (var postagem in Model)
            {
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">

                        <h5 class="card-title">@postagem.Usuario?.Nome</h5>

                        <p class="card-text">@postagem.Descricao</p>

                        <button class="btn btn-light">❤️Curtir</button>
                    </div>
                </div>
            }

        </div> 

    </div>
</div>
